body > header {
  background: $color-1;
  nav {
    ul {
      float: right;
      margin: 10px 0;
      text-align: right;
      li {
        a {
          display: inline-block;
          margin: 0 5px;
          padding: 4px 10px;
          font-size: 13px;
          line-height: 13px;
          color: $color-light;
          border-radius: 3px;
          &:hover {
            color: $color-light;
            background: darken($color-1, 10%);
          }
        }
      }
    }
  }
}