$container-background: rgba(#efefef, 0.8);
$marker-background: #FC5B3F;

.planit-container {
  position: relative;
  display: block;
  width: 600px;
  height: 600px;
  margin: 25px auto;
  background: $container-background;

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }

  .planit-markers-container {
    position: relative;
    width: 100%;
    height: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: top left;

    .planit-marker {
      position: absolute;
      width: 30px;
      height: 30px;
      z-index: 999;
      border-radius: 50%;
      background: $marker-background;
      &.draggable {
        &:hover {
          cursor: move;
          opacity: 0.8;
        }
      }

      .planit-marker-content {
        position: relative;
        width: 100%;
        height: 100%;

        .planit-infobox {
          position: absolute;
          min-width: 200px;
          display: none;
          &.active {
            display: inline-block;
          }
          position: relative;
          padding: 5px 15px;
          background: white;
          border-radius: 3px;
          &:after {
            content:'';
            position: absolute;
            top: 100%;
            left: 50%;
            margin-left: -10px;
            width: 0;
            height: 0;
            border-top: solid 10px white;
            border-left: solid 10px transparent;
            border-right: solid 10px transparent;
          }
        }
      }
    }
  }
}
