.bg-1 {
  background-color: $color-1 !important;
}
.bg-1-light {
  background-color: $color-1-light !important;
}
.bg-1-lighter {
  background-color: $color-1-lighter !important;
}
.bg-1-lightest {
  background-color: $color-1-lightest !important;
}
.bg-1-dark {
  background-color: $color-1-dark !important;
}
.bg-1-darker {
  background-color: $color-1-darker !important;
}
.bg-1-darkest {
  background-color: $color-1-darkest !important;
}

.bg-2 {
  background-color: $color-2 !important;
}
.bg-2-light {
  background-color: $color-2-light !important;
}
.bg-2-lighter {
  background-color: $color-2-lighter !important;
}
.bg-2-lightest {
  background-color: $color-2-lightest !important;
}
.bg-2-dark {
  background-color: $color-2-dark !important;
}
.bg-2-darker {
  background-color: $color-2-darker !important;
}
.bg-2-darkest {
  background-color: $color-2-darkest !important;
}

.bg-3 {
  background-color: $color-3 !important;
}
.bg-3-light {
  background-color: $color-3-light !important;
}
.bg-3-lighter {
  background-color: $color-3-lighter !important;
}
.bg-3-lightest {
  background-color: $color-3-lightest !important;
}
.bg-3-dark {
  background-color: $color-3-dark !important;
}
.bg-3-darker {
  background-color: $color-3-darker !important;
}
.bg-3-darkest {
  background-color: $color-3-darkest !important;
}

.bg-4 {
  background-color: $color-4 !important;
}
.bg-4-light {
  background-color: $color-4-light !important;
}
.bg-4-lighter {
  background-color: $color-4-lighter !important;
}
.bg-4-lightest {
  background-color: $color-4-lightest !important;
}
.bg-4-dark {
  background-color: $color-4-dark !important;
}
.bg-4-darker {
  background-color: $color-4-darker !important;
}
.bg-4-darkest {
  background-color: $color-4-darkest !important;
}

.bg-5 {
  background-color: $color-5 !important;
}
.bg-5-light {
  background-color: $color-5-light !important;
}
.bg-5-lighter {
  background-color: $color-5-lighter !important;
}
.bg-5-lightest {
  background-color: $color-5-lightest !important;
}
.bg-5-dark {
  background-color: $color-5-dark !important;
}
.bg-5-darker {
  background-color: $color-5-darker !important;
}
.bg-5-darkest {
  background-color: $color-5-darkest !important;
}

.bg-light {
  background-color: $color-light !important;
}
.bg-light-dark {
  background-color: $color-light-dark !important;
}
.bg-light-darker {
  background-color: $color-light-darker !important;
}
.bg-light-darkest {
  background-color: $color-light-darkest !important;
}

.bg-dark {
  background-color: $color-dark !important;
}
.bg-dark-light {
  background-color: $color-dark-light !important;
}
.bg-dark-lighter {
  background-color: $color-dark-lighter !important;
}
.bg-dark-lightest {
  background-color: $color-dark-lightest !important;
}

.bg-success {
  background-color: $color-success !important;
}
.bg-success-light {
  background-color: $color-success-light !important;
}
.bg-success-lighter {
  background-color: $color-success-lighter !important;
}
.bg-success-lightest {
  background-color: $color-success-lightest !important;
}
.bg-success-dark {
  background-color: $color-success-dark !important;
}
.bg-success-darker {
  background-color: $color-success-darker !important;
}
.bg-success-darkest {
  background-color: $color-success-darkest !important;
}

.bg-warning {
  background-color: $color-warning !important;
}
.bg-warning-light {
  background-color: $color-warning-light !important;
}
.bg-warning-lighter {
  background-color: $color-warning-lighter !important;
}
.bg-warning-lightest {
  background-color: $color-warning-lightest !important;
}
.bg-warning-dark {
  background-color: $color-warning-dark !important;
}
.bg-warning-darker {
  background-color: $color-warning-darker !important;
}
.bg-warning-darkest {
  background-color: $color-warning-darkest !important;
}

.bg-danger {
  background-color: $color-danger !important;
}
.bg-danger-light {
  background-color: $color-danger-light !important;
}
.bg-danger-lighter {
  background-color: $color-danger-lighter !important;
}
.bg-danger-lightest {
  background-color: $color-danger-lightest !important;
}
.bg-danger-dark {
  background-color: $color-danger-dark !important;
}
.bg-danger-darker {
  background-color: $color-danger-darker !important;
}
.bg-danger-darkest {
  background-color: $color-danger-darkest !important;
}