.color-1 {
  color: $color-1 !important;
}
.color-1-light {
  color: $color-1-light !important;
}
.color-1-lighter {
  color: $color-1-lighter !important;
}
.color-1-lightest {
  color: $color-1-lightest !important;
}
.color-1-dark {
  color: $color-1-dark !important;
}
.color-1-darker {
  color: $color-1-darker !important;
}
.color-1-darkest {
  color: $color-1-darkest !important;
}

.color-2 {
  color: $color-2 !important;
}
.color-2-light {
  color: $color-2-light !important;
}
.color-2-lighter {
  color: $color-2-lighter !important;
}
.color-2-lightest {
  color: $color-2-lightest !important;
}
.color-2-dark {
  color: $color-2-dark !important;
}
.color-2-darker {
  color: $color-2-darker !important;
}
.color-2-darkest {
  color: $color-2-darkest !important;
}

.color-3 {
  color: $color-3 !important;
}
.color-3-light {
  color: $color-3-light !important;
}
.color-3-lighter {
  color: $color-3-lighter !important;
}
.color-3-lightest {
  color: $color-3-lightest !important;
}
.color-3-dark {
  color: $color-3-dark !important;
}
.color-3-darker {
  color: $color-3-darker !important;
}
.color-3-darkest {
  color: $color-3-darkest !important;
}

.color-4 {
  color: $color-4 !important;
}
.color-4-light {
  color: $color-4-light !important;
}
.color-4-lighter {
  color: $color-4-lighter !important;
}
.color-4-lightest {
  color: $color-4-lightest !important;
}
.color-4-dark {
  color: $color-4-dark !important;
}
.color-4-darker {
  color: $color-4-darker !important;
}
.color-4-darkest {
  color: $color-4-darkest !important;
}

.color-5 {
  color: $color-5 !important;
}
.color-5-light {
  color: $color-5-light !important;
}
.color-5-lighter {
  color: $color-5-lighter !important;
}
.color-5-lightest {
  color: $color-5-lightest !important;
}
.color-5-dark {
  color: $color-5-dark !important;
}
.color-5-darker {
  color: $color-5-darker !important;
}
.color-5-darkest {
  color: $color-5-darkest !important;
}

.color-light {
  color: $color-light !important;
}
.color-light-dark {
  color: $color-light-dark !important;
}
.color-light-darker {
  color: $color-light-darker !important;
}
.color-light-darkest {
  color: $color-light-darkest !important;
}

.color-dark {
  color: $color-dark !important;
}
.color-dark-light {
  color: $color-dark-light !important;
}
.color-dark-lighter {
  color: $color-dark-lighter !important;
}
.color-dark-lightest {
  color: $color-dark-lightest !important;
}

.color-success {
  color: $color-success !important;
}
.color-success-light {
  color: $color-success-light !important;
}
.color-success-lighter {
  color: $color-success-lighter !important;
}
.color-success-lightest {
  color: $color-success-lightest !important;
}
.color-success-dark {
  color: $color-success-dark !important;
}
.color-success-darker {
  color: $color-success-darker !important;
}
.color-success-darkest {
  color: $color-success-darkest !important;
}

.color-warning {
  color: $color-warning !important;
}
.color-warning-light {
  color: $color-warning-light !important;
}
.color-warning-lighter {
  color: $color-warning-lighter !important;
}
.color-warning-lightest {
  color: $color-warning-lightest !important;
}
.color-warning-dark {
  color: $color-warning-dark !important;
}
.color-warning-darker {
  color: $color-warning-darker !important;
}
.color-warning-darkest {
  color: $color-warning-darkest !important;
}

.color-danger {
  color: $color-danger !important;
}
.color-danger-light {
  color: $color-danger-light !important;
}
.color-danger-lighter {
  color: $color-danger-lighter !important;
}
.color-danger-lightest {
  color: $color-danger-lightest !important;
}
.color-danger-dark {
  color: $color-danger-dark !important;
}
.color-danger-darker {
  color: $color-danger-darker !important;
}
.color-danger-darkest {
  color: $color-danger-darkest !important;
}