<header class="main">
  <nav>
    <ul>
      <li><%= link_to 'Docs', '/docs' %></li>
      <li><%= link_to 'Examples', '/examples' %></li>
      <li>
        <%= link_to(
          'View on GitHub',
          'https://github.com/seancdavis/planit',
          :target => :blank
        ) %>
      </li>
    </ul>
  </nav>
</header>